*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin-right: 4%;
  padding: 0;
  overflow: hidden;
  padding: 1%;
  font-size: 18px;
}

li{
    size: 100%;
    display: inline;
    padding: 8px; 
}

li a {
  float: right;
  display: block;
  text-align: center;
  padding: 8px; 
  padding-right: 1%;
  text-decoration: none;
  color: rgb(58, 58, 58);
  font-weight: 500;
}

h1{
    font-size: 60px;
}

p{
    padding-top: 1%;
    font-size: 24px;
}

#first{
    margin-top: 2%;
}

button{
  margin-top: 3%;
  padding: 16px 80px;;
  border-radius: 12px;
  background-color: rgb(231, 125, 48);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
  transition-duration: 0.4s;
}

button:hover{
    background-color: rgb(131, 65, 18);
    color: darkgray;
}

#logo{
  padding-left: 2%;
  float: left;
  color: rgb(231, 125, 48);
}

#foto{
    max-width: 60%;
    position: absolute;
    float: right;
    margin-left: 35%;
}

#conteudo{
    padding: 5%;
    padding-left: 10%;
    position: relative;
    color: rgb(88, 84, 80);
}

#divisao{
    margin-top: 5%;
}